name: Lint

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: "Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)"
        required: false
        default: false

jobs:
  release:
    name: Lint
    runs-on: ubuntu-latest

    env:
      FORCE_COLOR: "1"

    steps:
      - name: Check out the repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Upgrade pip
        run: |
          python -m pip install --constraint=.github/workflows/constraints.txt pip
          python -m pip --version

      - name: Setup Nox
        uses: wntrblm/nox@2022.8.7
        with:
          python-versions: "3.10"

      - name: Pre-commit
        uses: pre-commit/action@v3.0.0

      - name: Lint
        run: |
          nox --tags lint

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: true
        if: ${{ github.event_name == 'workflow_dispatch'
          && github.event.inputs.debug_enabled
          && failure() }}
